<h1>Public::Groups#show</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <%= @group.name %>
            </div>
            <div>
                <%= @group.introduction %>
            </div>
            <div>
                <%= link_to '一覧へ', public_groups_path %>
            </div>
            <div>
                <% if current_user.id == @group.owner_id %>
                    <%= link_to '編集する', edit_public_group_path(@group) %>
                <% end %>
            </div>
        </div>
    </div>
</div>
