<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col ">
            <h2 class="text-center">ご利用にあたっての注意事項</h2>
            <p class="text-center mt-5">当サイトをご利用の際には下記注意事項に同意したものとみなします。</p>
           <p class="text-center">当サイト内で画像をアップロードする際に、</br>
                                  アニメのスクリーンショットや、キャプチャ画像等、</br>
                                  著作権侵害にあたる画像等を、</br>
                                  アップロードすることは禁止しています。</br>
                                  こちらの注意事項を守らずに著作権侵害等の罪に</br>
                                  問われたとしても当サイトは一切の責任を負いません。</br>
                                  ご利用者様自らで対応をしてください。</br>
                                  ご自身に著作権があるもの(オリジナルイラスト等)につきましては、</br>
                                  ご自由にお使いください。
           </p> 
           </p>
            
        </div>
    </div>
</div>