$('.message').append(" <div style='margin-bottom: 25px;'><div style='display: block; position: relative; margin-right: 80px;  padding: 10px; border-radius: 10px; border-radius: 10px;  margin-left: 100%;  float: right; background-color: #9cd6e7;'><p style='margin: 0 0 20px;'><%= @chat.message %></p></div></div>");

$('input[type=text]').val("")