$('.message').append("<p style='text-align: right; position: relative; margin: 0 10px 0 0; padding: 8px; max-width: 250px; display: inline-block; border-radius: 12px; background: #30e852; font-size: 15px;'><%= @chat.message %></p>");


$('input[type=text]').val("")