$('.message').append(" <div style='display: block; position: relative; margin-right: 80px;  padding: 10px; border-radius: 10px; border-radius: 10px;  margin-left: 50%;  float: right; background-color: #9cd6e7; margin-bottom: 25px;'><p style='margin: 0;'><%= @chat.message %></p></div>");

$('input[type=text]').val("")