<% post.post_comments.each do |post_comment| %>
    <div class="card mt-2" style="width: 80%;">
      <div class="card-body">
        <p class="card-text">
            <table class="table table-borderless">
                 <tr class="justify-content-around">
                    <th class="col-2">コメントユーザー</th>
                    <th class="col-2"><%= post_comment.user.name %></th>
                </tr>
                <tr class="justify-content-around">
                    <th class="col-2">コメント</th>
                    <th class="col-2"><%= post_comment.comment %></th>
                </tr>
                <tr class="justify-content-around">
                   <th class="col-2"><%= link_to 'コメント削除',admin_post_post_comment_path(post_comment),method: :delete %></th>
                </tr>
            </table>
        </p>
      </div>
    </div>
<% end %>