<div class="container mb-5 page-height">
    <div class="row">
        <div class="col-sm col-md col-lg-2 px-5 px-sm-0 mx-auto">
            <%= render 'admin/posts/search', q: @q %>
        </div>
        <div class="col-sm col-md col-lg-5 px-sm-0 mx-auto">
            <div class="admin-scroll">
                <%= render 'admin/posts/post_card', q_posts: @q_posts %>
            </div>
        </div>
    </div>
</div>
