.text-top{
    text-align:center;
}

.image{
    height: 100%;
    
}

.sidebar_fixed {
  position: sticky;
}

.scroll{
    height: 500px;
    overflow: auto;
}

tr{
  margin-top: 5px;
}

#post-comment{
    height: 500px;
}