<div class="container page-height">
    <div class="row justify-cintent-center">
        <div class="col-sm col-md col-lg-5">
            <%= render 'admin/groups/group_index', groups: @groups %>
        </div>
    </div>
</div>

