<div class="container page-height">
    <div class="row justify-cintent-center">
        <div class="col-sm col-md col-lg-2 px-5 px-sm-0 mx-auto">
            <div class="sidebar_fixed mt-5">
                <%= search_form_for @q, url: admin_groups_path do |f| %>
                <table>
                    <tr><%= f.search_field :name_cont %></tr>
                    <tr><%= f.submit 'グループ検索' %></tr>
                </table>
                <% end %>
            </div>
        </div>
        <div class="col-sm col-md col-lg-5 px-5 px-sm-0 mx-auto">
            <div class="admin-scroll">
                <%= render 'admin/groups/group_index', groups: @q_groups %>
            </div>
            
        </div>
    </div>
</div>

