<div class="container">
    <div class="row">
        <div class="col-sm col-md col-lg-2 px-5 px-sm-0 mx-auto mt-5">
            <div class="sidebar_fixed">
                <%= search_form_for @q, url: admin_users_path do |f| %>
                <table>
                    <tr><%= f.search_field :name_cont %></tr>
                    <tr><%= f.submit 'ユーザー検索' %></tr>
                </table>
                <% end %>
            </div>
        </div>
        <div class="ccol-sm col-md col-lg-8 px-sm-0 mx-auto">
            <div class="admin-scroll">
               <%= render 'admin/users/user_card', q_users: @q_users %>
            </div>
        </div>
    </div>
</div>