<div class="container page-height">
  <h2 class="text-center mt-5">いいねをした投稿</h2>
    <div class="row justify-content-center">
        <%= render 'public/posts/post_index', posts: @favorite_posts %>
    </div>
</div>

    
