<footer>
    <div class="container mt-5">
        <div class="row">
            <div class="mx-auto">
                <%= link_to 'ご利用時の注意事項', public_warning_path %>
            </div>
        </div>
    </div>
</footer>
